@model InfoPersonalPacienteModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Editar Informacion Personal
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="InformacionPersonal" method="post">
            <input asp-for="IdInformacionPersonal" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Desea Eliminar la informacion: @Html.DisplayTextFor(m => m.Nombre)?
            </div>
           
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="ListaInformacion" asp-controller="InformacionPersonal" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>



