@{
    ViewData["Title"] = "Home Page";
}
<head>
    <style>
        .fondo{
            background-image: url(/img/fotoFondoPrincipal.jpg);
            background-color: #cccccc;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 90vh;
            width: 100%;
        }
    </style>
</head>

<body class="">
    <div class=" ">
        <h1 class="display-4 text-center">Bienvenido</h1>
    </div>
    
   
</body>

